<div class="row"> 
    <div class="col col-6"> 
        <%= image_tag "home.png", :class => "" %> 
    </div>

    <div class="col col-6 texto">
        <h6 class="text-uppercase">CALCULADORA DE ASADOS</h6>
        <h1>Hagamos un <span class="sp-1">Asado</span><br>
        Calculemos <span class="sp-2">gastos</span></h1>
        <a href="/events" class="genric-btn primary circle arrow">Nuevo Asadazo <span class="fas fa-arrow-right"></span></a>
    </div>
</div>
